/* google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* css reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* global variable*/

:root {
  --sideBGColor: #040b14;
  --themeColor: #00a7be;
  --iconBGColor: #2c2f3c;
  --textColor: #525252;
  --bgColor: #f7f7f7;
}

/*================= hearder start==============*/
header {
  height: 100vh;
  width: 300px;
  padding: 15px 30px;
  background-color: var(--sideBGColor);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 99;
}

header .profile {
  text-align: center;
  margin: 10px 0;
}

header .profile img {
  width: 150px;
  border-radius: 50%;
  border: 10px solid var(--iconBGColor);
}

header .profile h1 {
  color: white;
  font-weight: 600;
}
header .profile .social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  background-color: var(--iconBGColor);
  color: white;
  margin: 1.5px;
  transition: 0.4s;
}
header .profile .social-icons a:hover {
  background-color: var(--themeColor);
}

header nav {
  margin-top: 30px;
}

header nav ul li {
  list-style: none;
}

/* navbar*/
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  margin: 7px 0;
  color: lightgray;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.6px;
}
header nav ul li a i {
  margin-right: 10px;
  font-size: 20px;
  transition: 0.4s;
}

header nav ul li a:hover i {
  color: var(--themeColor);
}

header nav ul li .active i {
  color: var(--themeColor);
}

header .footer {
  text-align: center;
  background-color: var(--sideBGColor);
  width: 300px;
  color: lightgray;
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

/* mobile nav toggle*/
#MenuBtn {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: var(--themeColor);
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  z-index: 999;
  display: none;
}

@media only screen and (max-width: 1050px) {
  header {
    left: -300px;
  }
  header .footer {
    left: -300px;
  }
  #MenuBtn {
    display: block;
  }
}

/* toggle header*/

.mobile-nav-active header {
  left: 0;
}

.mobile-nav-active header .footer {
  left: 0;
}
/*================= hearder end==============*/

/* Main section*/

main {
  margin-left: 300px;
  background-color: var(--bgColor);
  transition: 0.3s;
}

@media only screen and (max-width: 1050px) {
  main {
    margin: 0;
  }
}

#home {
  height: 100vh;
  width: 100%;
  background-image: url(img/pict.jpeg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  position: relative;
}

#home::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.431);
  position: absolute;
  top: 0;
  left: 0;
}
